.home-page-buttons {
    padding: 12px;
    margin:  20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    font-weight: 510;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #f5f5f5;
}

