.link {
  font-size: 18px;
  font-weight: 600;
  color: #4CAF50;
}
.group-page-inputs {
    width: 250px;
    padding: 12px;
    margin:  20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    font-weight: 510;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: #fff;
}
.copy-button {
    width: 200px;
    padding: 12px;
    margin:  20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 510;
    border: none;
    box-shadow: 0 4px 8px 0 rgba(128, 128, 128, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white; 
    color: #008CBA; 
    border: 2px solid #008CBA;
}
.copy-button:hover {
  background-color: #008CBA;
  color: white;
}

